#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.image{
  width: 20%;
  height: auto;
}
.job{
  font-size: 1em;
  color: gray;
  margin: 0.5em 0;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 40px;
}